extends layout

block content
  header 
    input(type="text" id="searchinput" placeholder="Search in authors...")
    button.btn(type="button" id="searchbutton") Go to author -&gt
  h1= title

  ul.sidebar-nav(id="List")
    each author in author_list
      li
        a(href=author.url) #{author.name} - 
          span (#{author.lifespan})

    else
      li There are no authors.
    
  script(src="/javascripts/searchscript.js")
