extends layout

block content
  header 
    input(type="text" id="searchinput" placeholder="Search in books...")
    button(type="button" id="searchbutton") Go to book -&gt

  h1= title
  ul(id="List")
    each book in book_list
      li
        a(href=book.url) #{book.title} - 
         span.author #{book.author.name}

  script(src="/javascripts/searchscript.js")